* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
}

header {
    height: auto;
    overflow: hidden;
    width: 80%;
    margin: auto;
    background-color: #050505;
    padding: 15px;
    border-radius: 10px;
}

#logo{
    margin-top: 4%;
    margin-left: 4%;
    float: left;
    color: lightblue;
    font-size: 24px;
}

.menu  {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 5%;
    margin-top: 35px;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.menu1 {
    color: lightblue;
    float: left;
    padding: 10px 15px;
    background-color: #000000;
    margin: 5px;
    border-radius: 5px;
}

section {
    margin: auto;
    width: 80%;
    height: auto;  
}

section h2 {
    color: lightseagreen;
}

.action {
    position: relative;
    width: 100%;
    margin: auto;
    height: 80vh;
    overflow: hidden;
}

#img1 {
    background-size: cover;
    max-width: 100%;
    transform: translateY(-20%);
    padding-top: 20px;
    margin-top: 20px;
    
}

.call {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4vw;
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about {
    color: white;
    width: 100%;
    overflow: hidden;
    background-color: #050505;
    border-radius: 10px;
}

.avatar {
    margin-top: 10%;
    margin-left: 8%;
    float: left;
    width: 20vmax;
    height: 20vmax;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden;
}

#picture {
    margin: 0;
    width:100%
}
#text {
    margin-right: 5%;
    margin-top: 8%;
    float: right;
    width: 50%;
    margin-bottom: 5%;
}

#text h2 {
    font-size: 4vw;
    margin-bottom: 30px;
}

#text p {
    font-size: 18px;
    margin-top: 3%;
    margin-bottom: 5%;
}

.tech {
    border-radius: 10px;
    margin-top: 2%;
    overflow: hidden;
    height: auto;
    background-color: #050505;
    padding: 40px;
    box-sizing: border-box;
}

.tech h2 {
    padding-top: 2%;
    font-size: 3vw;
    text-align: center;
    color: lightsalmon;
}

.tech ul {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 3%;
    list-style-type: none;
}

.box {
    margin-top: 10px;
    margin-left: 2%;
    padding: 5px;
    display: inline-block;
    width: 14vw;
    height: 12vw;
    background-color: black;
    border-radius: 15px;
    position: relative;
}

.box img {
    position: absolute;
    bottom: 10%;
    right: 20%;
    width: 50%;
    padding: 10px;
}

.tagNames {
    padding-top: 2%;
    text-align: center;
    font-size: 2vw;
    color: lightgray;
    
}
footer {
    width: 100%;
    height: auto; 
}
#contact {
    border-radius: 10px;
    margin-top: 2%;
    background-color: #050505;
    overflow: hidden;
}

.contactme {
    width: 90%;
    color: aquamarine;
    float: left;
    overflow: hidden;
    margin: 3% 10%;
}

.contactme h3 {
    font-size: 36px;
    margin-bottom: 3%;
}

.contactme img {
    width: 35px;
    margin-left: 2%;
    float: left;
}




